:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
    
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  a {
    color: rgb(173, 2, 2);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
  }
  
p, 
ul, 
li {
   
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1.6;
    color: rgb(0, 0, 0);
  }
  
  
  h2,
  h3,
  p {
    margin-bottom: 1em;
  }
  
  
  
  .text-center {
    text-align: center;
  }


  header,
  section {
    padding: 4rem 0;
    @media (min-width: 40em) {
      header,
      section {
        padding: 7rem 0;
      }
    }
  }
  
  h4 {
    color: white;
    font-family: var(--ff-accent);
  }
  
  .btn:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.151);
    }


  /* Creating animation for video cover*/

   * {
    padding:0;
    margin:0;
  }
  
  body {
    background:#fff;
    overflow-x:hidden;
    font-family:arial;
  }
  
  .transition {
    position:absolute;
    height:100%;
    width:30%;
    background:#faba30b7;
    transform: skewX(-5deg) translateX(-50px);
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
  }
  
  .content {
    position:relative;
    padding:100px 0 0 0px;
    z-index:10;
    height:300px;
  }
  
  .cta {
    outline:none;
    border:none;
    text-decoration:none;
    text-transform:uppercase;
    background:#202020;
    color:#eaeaea;
    box-sizing:border-box;
    margin-top:20px;
    padding:10px 40px;
  }
  
  .anim-trans {
    animation: anim 2s ease-in-out;
    }
  
  @keyframes anim{
       
       30%   { transform: skewX(-10deg) translateX(100%);
   width:100%; z-index:11; box-shadow: 10px 10px 5px #8f0606;}       
       80%   { transform: skewX(-10deg) translateX(-100%);
   width:60%;z-index:11; box-shadow: 10px 10px 5px #9b0000;}
       100%   { transform: skewX(-5deg) translateX(-50px);
   width:30%;z-index:1; box-shadow: none;}
  }

/* Making content blocks and styling*/

  .container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    padding-top:initial;
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
    }
  
    .split > * {
      flex-basis: 100%;
    }
  
    .split > * + * {
      margin-left: 2em;
    }
  }
  
  .container--narrow {
    max-width: 34rem;
  }


  /* Code for video cover */

.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0202021c;
  
}

.showcase video
{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;

}

/* The following menu & cart features were created with help of: https://www.youtube.com/watch?v=YeFzkC2awTM*/


.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}


.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 2px auto;
  font-size: 1.75em;
}


/*Reviews section code built with help of: https://www.youtube.com/watch?v=WXmn9lk1tgk*/


.reviews{
  margin: 2rem auto;
  display: flex;
  
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}

.imgReview{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.432);
}

.body-review{
  background: linear-gradient(#cfcfcf, #727272);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(248, 248, 248);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}

/* Footer*/



footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 85%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #242424;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }

}